%form.bot.bot_form{:id => "bot_#{@bot.id}", :action => "/bots/#{@bot.id}/update.json", :method => "post"}
  %ul
    %li.table
      .row
        .cell
          .color_label{:style => "background-color: #{@bot.color}"}
            %input.bot_color{:type => "hidden", :value => @bot.color}
        %h4.header.cell
          .name
            = @bot.name
          %input.bot_name{:type => "hidden", :value => @bot.name}
          %small= "by #{@bot.author}"
          %input{:type => "hidden", :value => @bot.author}
        .bot_actions.cell
          %a.toggle_code.btn.btn-sm.btn-default{:href => "#", :title => "toggle code"} toggle code
          %a.btn.btn-sm.btn-default{:href => "/bots/#{@bot.id}/edit", :title => "edit bot"} edit
          %a.remove_bot.btn.btn-sm.btn-danger{:href => "#", :title => "remove bot"} remove bot
    %li.show
      %input.bot_id{:type => "hidden", :value => @bot.id}
      %textarea.bot_code= @bot.code
      .right.spacer
        %input.btn.btn-sm.btn-success{:type => "submit", :value => "save"}
