- if @bot.persisted?
  - action = "/bots/#{@bot.id}/update"
  - title = "edit #{@bot}"
  - id = @bot.id
- else
  - action = "/bots/create"
  - title = "create a bot"
  - id = 0

%h1
  = title
  .pull-right
    %form.inline{:action => "/bots/#{@bot.id}/delete", :method => "post"}
      %input.btn.btn-danger{:type => "submit", :value => "delete", :onclick => "return confirm('Bot will be deleted. This can not be undone.')"}
%form.bot.bot_form{:id => "bot_#{id}", :action => action, :method => "post"}
  %ul
    %li.table
      .row
        %label.cell{:for => "bot_name"} name:
        %input.bot_name.cell.form-control{:type => "text", :name => "bot[name]", :value => @bot.name}
    %li.table
      .row
        %label.cell{:for => "bot_author"} author:
        %input.bot_author.cell.form-control{:type => "text", :name => "bot[author]", :value => @bot.author}
    %li.table
      .row
        %label.cell{:for => "bot_color"} color:
        .cell
          .input-group.color.table{:data => {"color-format" => "hex"}}
            .row
              %span.input-group-addon.cell{:style => "background-color: #{@bot.color}"}
                %span.caret
              %input.bot_color.inline.form-control.cell{:type => "text", :name => "bot[color]", :value => @bot.color}
    %li
      %textarea.bot_code.inline.form-control{:name => "bot[code]"}= @bot.code
    %li
      .pull-right
        %input.btn.btn-success{:type => "submit", :value => "save"}

